@model IEnumerable<LModels.ViewModels.CourseDetailCreateViewModel>

@{
    ViewData["Title"] = "Course Details";
}

<h1>Course Details</h1>
<div class="text-end">
</div>
<table class="table">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Detail Type</th>
            <th>Curriculum</th>
            <th>Target Audience</th>
            <th>Benefits</th>
            <th>Certification</th>
            <th>Technologies</th>
            <th>Learning Objectives</th>
            <th>Demand</th>
            <th>Salary</th>
            <th>Languages</th>
            <th>Frameworks</th>
            <th>Databases</th>
            <th>Architecture</th>
            <th>Game Engines</th>
            <th>Game Design</th>
            <th>Programming Languages</th>
            <th>Game Development Process</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detail in Model)
        {
            <tr>
                <td>@detail.CourseID</td>
                <td>@detail.DetailType</td>
                <td>@detail.Curriculum</td>
                <td>@detail.TargetAudience</td>
                <td>@detail.Benefits</td>
                <td>@detail.Certification</td>
                <td>@detail.Technologies</td>
                <td>@detail.LearningObjectives</td>
                <td>@detail.Demand</td>
                <td>@detail.Salary</td>
                <td>@detail.Languages</td>
                <td>@detail.Frameworks</td>
                <td>@detail.Databases</td>
                <td>@detail.Architecture</td>
                <td>@detail.GameEngines</td>
                <td>@detail.GameDesign</td>
                <td>@detail.ProgrammingLanguages</td>
                <td>@detail.GameDevelopmentProcess</td>
                <td>
                    <a class="btn btn-primary" asp-controller="CourseDetail" asp-action="Edit" asp-route-id="@detail.CourseID">Edit</a>
                    <a class="btn btn-danger" asp-controller="CourseDetail" asp-action="Delete" asp-route-id="@detail.CourseID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
