@using LModels
@model IEnumerable<Student>

<div class="row">
	<h4 class="card-title">Student List</h4>
	<div class="text-end">
		<a class="btn btn-secondary" asp-action="Create" asp-area="Admin">
			<i class="bi bi-plus-circle"></i>
			Create a new Student
		</a>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th style="width: 5%;"> </th>
				<th style="width: 15%;"> Name </th>
				<th style="width: 15%;"> Email</th>
				<th style="width: 10%;"> Phone</th>
				<th style="width: 5%;"> Address </th>
				<th style="width: 10%;"> DateOfBirth </th>
				<th style="width: 10%;"> Identity Card </th>
				<th style="width: 10%;"> Image </th>
				<th style="width: 20%;"> Actions </th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr id="topicRow_@item.StudentID">
					<td class="py-1">@item.StudentID</td>
					<td>@item.Name</td>
					<td>@item.Email</td>
					<td>@item.Phone</td>
					<td>
						<div class="description-container" id="description_@item.StudentID">@item.Address</div>
						<button class="btn btn-link p-0" onclick="showFullDescription('@item.StudentID')">Read more</button>
					</td>
					<td>@item.DateOfBirth</td>
					<td>@item.IdentityCard</td>
					<td>
						<img src="~/@item.ImagePath" alt="@item.Name" style="width: 100px; height: 100px;" />
					</td>
					<td>
						<a class="btn btn-warning" asp-area="Admin" asp-route-id="@item.StudentID" asp-action="Update">
							<i class="bi bi-pencil-fill"></i>
							Update
						</a>
						<button class="btn btn-danger" onclick="deleteStudent('@item.StudentID')">
							<i class="bi bi-trash3"></i>
							Delete
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section scripts {
	@*Đoạn mã hiển thị thông báo alert*@
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/AdminLayout/assets/js/Notification.js"></script>
	<script>
		function showFullDescription(id) {
			var descriptionElement = document.getElementById("description_" + id);
			Swal.fire({
				title: 'Description',
				text: descriptionElement.textContent,
				icon: 'info',
				confirmButtonText: 'Close'
			});
		}

	</script>
}

<style>
	.description-container {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 200px; /* Đặt độ rộng phù hợp với bảng của bạn */
		display: inline-block;
		vertical-align: middle;
	}
</style>