<!-- Carousel Start -->
@Html.Partial("~/Views/Shared/Index/_Slider.cshtml")
<!-- Carousel End -->

<!-- Service Start -->
@Html.Partial("~/Views/Shared/Index/_Service.cshtml")
<!-- Service End -->

<!-- About Start -->
@Html.Partial("~/Views/Shared/Index/_AboutUs.cshtml")
<!-- About End -->

<!-- Categories Start -->
<div id="courses-section" class="container-xxl py-5">
	@Html.Partial("~/Views/Shared/Index/_CourseCategory.cshtml")
</div>
<!-- Categories end -->

<!-- Courses Start -->
@Html.Partial("~/Views/Shared/Index/_PorpularCourse.cshtml")
<!-- Courses End -->

<!-- Team Start -->
@Html.Partial("~/Views/Shared/Index/_ExpertInstructors.cshtml")
<!-- Team End -->

<!-- FAQ Start -->
@Html.Partial("~/Views/Shared/Index/_FAQ.cshtml")
<!-- FAQ End -->

<!-- Testimonial Start -->
@Html.Partial("~/Views/Shared/Index/_StudentFeedBack.cshtml")
<!-- Testimonial End -->