<!-- Carousel Start -->
@Html.Partial("_Slider")
<!-- Carousel End -->

<!-- Service Start -->
@Html.Partial("_Service")
<!-- Service End -->

<!-- About Start -->
@Html.Partial("_AboutUs")
<!-- About End -->

<!-- Categories Start -->
<div id="courses-section" class="container-xxl py-5">
	@Html.Partial("_CourseCategory")
</div>
<!-- Categories end -->

<!-- Courses Start -->
@Html.Partial("_PorpularCourse")
<!-- Courses End -->

<!-- Team Start -->
@Html.Partial("_ExpertInstructors")
<!-- Team End -->

<!-- FAQ Start -->
@Html.Partial("_FAQ")
<!-- FAQ End -->

<!-- Testimonial Start -->
@Html.Partial("_StudentFeedBack")
<!-- Testimonial End -->