@using LModels
@model IEnumerable<Course>

<div class="row">
    <h4 class="card-title">Course List</h4>
    <div class="text-end">
        <a class="btn btn-secondary" asp-action="Create" asp-area="Admin">
            <i class="bi bi-plus-circle"></i>
            Create a new Product
        </a>
    </div>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th> CourseID </th>
                <th> Course Name</th>
                <th> Image </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model)
            {
                <tr>
                    <td class="py-1">@item.CourseID</td>
                    <td>@item.CourseName</td>
                    <td>
                        <img src="~/@item.ImagePath" alt="@item.CourseName" style="width: 100px; height: 100px;" />
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-area="Admin" asp-route-id="@item.CourseID" asp-action="Edit">
                            <i class="bi bi-pencil-fill"></i>
                            Edit
                        </a>
                        <a class="btn btn-danger" asp-route-id="@item.CourseID" asp-action="Delete">
                            <i class="bi bi-trash3"></i>
                            Delete
                        </a>
                    </td>

                </tr>
            }           
        </tbody>
    </table>
</div>
