@using LModels
@model IEnumerable<Topic>

<div class="row">
    <h4 class="card-title">Course List</h4>
    <div class="text-end">
        <a class="btn btn-secondary" asp-action="Create" asp-area="Admin">
            <i class="bi bi-plus-circle"></i>
            Create a new Product
        </a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th> TopicID </th>
                <th> TopicName</th>
                <th> Course</th>
                <th> Image </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr id="topicRow_@item.TopicID">
                    <td class="py-1">@item.TopicID</td>
                    <td>@item.TopicName</td>
                    <td>@item.Course?.CourseName</td>
                    <td>
                        <img src="~/@item.ImagePath" alt="@item.TopicName" style="width: 100px; height: 100px;" />
                    </td>
                    <td>
                        <a class="btn btn-warning" asp-area="Admin" asp-route-id="@item.TopicID" asp-action="Update">
                            <i class="bi bi-pencil-fill"></i>
                            Update
                        </a>
                        <button class="btn btn-danger" onclick="deleteTopic('@item.TopicID')">
                            <i class="bi bi-trash3"></i>
                            Delete
                        </button>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    @Html.Partial("_Pagination")
</div>

@section scripts {
    @*Đoạn mã hiển thị thông báo alert*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/AdminLayout/assets/js/Notification.js"></script>
} 