@using LModels.Client
@model IEnumerable<Services>

<div class="row">
	<h4 class="card-title">Service List</h4>
	<div class="text-end">
		<a class="btn btn-secondary" asp-action="Create" asp-area="Admin">
			<i class="bi bi-plus-circle"></i>
			Create a new Service
		</a>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th> ServiceID </th>
				<th> Title</th>
				<th> Icon</th>
				<th> Description</th>
				<th> Actions </th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr id="topicRow_@item.ServiceID">
					<td class="py-1">@item.ServiceID</td>
					<td>@item.Title</td>
					<td>
						@if (!string.IsNullOrEmpty(item.Icon))
						{
							<i class="@item.Icon" aria-hidden="false"></i>
						}
					</td>
					<td>@item.Description</td>
					<td>
						<a class="btn btn-warning" asp-area="Admin" asp-route-id="@item.ServiceID" asp-action="Update">
							<i class="bi bi-pencil-fill"></i>
							Update
						</a>
						<button class="btn btn-danger" onclick="deleteService('@item.ServiceID')">
							<i class="bi bi-trash3"></i>
							Delete
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>

@section scripts {
	@*Đoạn mã hiển thị thông báo alert*@
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/AdminLayout/assets/js/Notification.js"></script>
	<script>
		function showFullDescription(id) {
			var descriptionElement = document.getElementById("description_" + id);
			Swal.fire({
				title: 'Description',
				text: descriptionElement.textContent,
				icon: 'info',
				confirmButtonText: 'Close'
			});
		}

	</script>
}

<style>
	.description-container {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 200px; /* Đặt độ rộng phù hợp với bảng của bạn */
		display: inline-block;
		vertical-align: middle;
	}
</style>
